
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
    /* overflow-x: scroll;    */
    /* overflow-y: hidden;    */
    /* white-space: nowrap; */
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 3rem;
    transition: .3s;
    padding: 3px;
}

.navbar a:hover,
.navbar a.active {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    border-radius: 4px;
    padding: 3px;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 27vw;
    object-fit: cover; 
    border-radius: 200px;
    box-shadow: 0 0 8rem var(--main-color);
    /* animation: floatImage 4s ease-in-out infinite; */
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h2 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 30%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 4.5rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--second-bg-color);
    margin: 1rem .8rem 3rem 0;
    transition: .5s ease;
}

.btn-box a:hover {
    box-shadow: none;
    outline: .2rem solid white;
    transition: .1s ease;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 500;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
    outline: .2rem solid white;
    transition: .1s ease;
}

/* About section styling*/ 
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
} 

.about-img img{
    width: 22vw;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 0 6rem var(--main-color);
}

.heading {
    text-align: center;
    font-size: 4.0rem;
}

.about-content  h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
    color: var(--main-color);
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/*Services section designing*/
.services h2 {
    margin-bottom: 5rem;
} 

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}
.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/************** Skills section styling *********** */
.skills {
    background: var(--second-bg-color);
}

.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-bar {
    margin-bottom: 2.2rem;
}

.skill-main h3 {
    margin-bottom: 2rem;
    font-size: 2.7rem;
    text-align: center;
    text-decoration: underline;
}

/* Skill left */

.skill-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar {
    width: 100%;
    height: 1rem;
    background-color: var(--bg-color);
    border-radius: 1rem;
    margin-top: 1rem;
    position: relative;
}

.skill-left i {
    font-size: 2rem;
}
 .skill-bar .info p {
    font-size: 1.3rem;
    color: var(--main-color);
 }
.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
}

.skill-bar .bar .cpp {
    width: 85%;
    animation: cpp 2s;
}

.skill-bar .bar .html {
    width: 80%;
    animation: html 2.5s;
}

.skill-bar .bar .css {
    width: 40%;
    animation: css 3s;
}

.skill-bar .bar .javascript {
    width: 60%;
    animation: javascript 3.5s;
}

.skill-bar .bar .reactjs {
    width: 50%;
    animation: reactjs 4s;
}

.skill-bar .bar .expressjs {
    width: 75%;
    animation: expressjs 4.5s;
}

.skill-bar .bar .nodejs {
    width: 80%;
    animation: nodejs 5s;
}

.skill-bar .bar .mongodb {
    width: 70%;
    animation: mongodb 5.5s;
}

@keyframes cpp {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes reactjs {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes expressjs {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

@keyframes nodejs {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes mongodb {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

/* Skill right */

.professional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
}
 
.box {
    margin: 0px 0;
    flex: 1 1 15rem;
}

.box {
    position: relative;
}

.box .text {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
}

.box .text big {
    font-size : 2rem;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .text small {
    display:block;
    font-weight: 600;
}

.circle {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #fff; */
}

.circle .points {
    width: 3px;
    height: 10px;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}

.points.marked {    /* Here ".points .marked" not worke*/
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

@keyframes glow {
    0% {
        background: var(--bg-color);
        box-shadow: none;
    }
    100% {
        background: var(--main-color);
        box-shadow: 0 0 1rem var(--main-color);
    }
}


/* Portfolio section styling */
.portfolio {
    background: var(--bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 2.5rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    font-weight: 500;
}

.portfolio-btn a {
    display:  inline-flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 4.2rem;
    background: var(--text-color);
    /* box-shadow: 0 0 2rem var(--text-color); */
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 3rem .2rem 0rem 0rem;
}
.portfolio-btn a:hover {
    /* background: var(); */
    color: rgb(240, 94, 94);
    box-shadow: 0 0 2rem rgb(240, 94, 94);
    transition: .5s ease;
}



/* Conatct section styling */
.contact {
    background: var(--second-bg-color);
}
.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* Footer Styling */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    /* background: var(--second-bg-color); */
}

.footer-text p {
    font-size: 1.6rem;
    margin-left: 150px;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* Break points use media query*/  
@media (max-width: 1200px) {
    html {
        font-size: 55%;
        overflow-x: hidden;
    }
}

@media (max-width: 900px) {
    html {
        /* font-size: 55%; */
        overflow-x: hidden;
    }

    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 725px) {
    html {
        /* font-size: 55%; */
        overflow-x: hidden;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h2 {
        font-size: 5rem;
    }

    .home-img img {
        width: 50vw;
        margin-top: 3rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 50vw;
        margin-top: 3rem;
    }

    .services h2 {
        margin-top: 3rem;
    }

    .portfolio h4 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
        margin-left: 0px;
    }
} 

@media (max-width: 617px) {
    html {
        /* font-size: 55%; */
        overflow-x: hidden;
    }

    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
        overflow-x: hidden;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
        margin-left: 0px;
    }
}

@media (max-width: 365px) {
    html {
        /* font-size: 55%; */
        overflow-x: hidden;
    }

    .home-img img {
        width: 80vw;
    }

    .about-img img {
        width: 80vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
        margin-left: 0px;
    }
}

.bx-menu {
    margin-right: 1rem;
}


/* ccs:  for contact form validation */
.error {
    color: #e25a5c;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    height: 40%;
  } 
  
.success {
    color: green;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    height: 40%;
}

